*::before,
*::after,
* {
  box-sizing: border-box;
}

:root {
  font-size: calc(1rem + 0.5lvw);
}

::selection {
  background: var(--color-ui);
}

html {
  font-family:
    system-ui, ui-sans-serif, "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  max-height: 100svh;
  overflow: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  line-height: 2;
  margin: 0;
  overflow: auto;
  place-items: center start;
  position: absolute;
  top: 0;
  transition:
    background var(--transition-settings-body),
    color var(--transition-settings-body);
}

hr {
  border: 0;
  border-block-end: 0.03125rem solid var(--color-ui);
  margin: 0;
  width: 100svw;

  &:first-of-type {
    margin-block-end: 2rem;
  }

  &:last-of-type {
    margin-block-start: 2rem;
  }
}

.container {
  max-width: 80ch;
  width: calc(100svw - 4rem);
}

header,
footer {
  border-image-source: linear-gradient(to right, var(--gradient));
  border-image-width: 1rem 0;
  display: flex;
  flex-direction: column;
  place-items: center start;
  width: 100svw;
}

a {
  background: var(--color-link-background);
  color: var(--color-text);
  font-weight: 600;
  position: relative;
  transition:
    background var(--transition-settings-link),
    color var(--transition-settings-link);
  text-decoration: none;
  white-space: nowrap;

  &::after {
    background: linear-gradient(to right, var(--gradient));
    content: "";
    height: calc(0.25rem / 5);
    min-height: 2px;
    left: 0;
    margin-block-start: 1.25em;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    transition:
      height var(--transition-settings-link),
      margin-block-start var(--transition-settings-link);
  }

  &::selection {
    color: var(--color-text);
  }

  &:active {
    color: var(--color-text);
  }

  &:visited {
    color: var(--color-text);
  }

  &:focus,
  &:focus-visible {
    border-color: var(--color-ui);
    outline: 0;
  }

  &:hover,
  &:focus-visible,
  &:visited:hover,
  &:visited:focus-visible {
    background: var(--color-link-background-hover);
    color: var(--color-background);

    &::after {
      height: 0.25rem;
      margin-block-start: 1.375em;
    }
  }
}
