*::before,
*::after,
* {
  box-sizing: border-box;
}

:root {
  font-size: calc(1rem + 0.5lvi);
}

::selection {
  background: var(--color-ui);
}

@supports(padding:max(0px)) {

  header .container,
  main,
  footer p {
    padding-inline-start: env(safe-area-inset-left);
    padding-inline-end: env(safe-area-inset-right);
  }
}

html {
  font-family:
    system-ui, ui-sans-serif, "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
  max-block-size: 100svb;
  overflow: hidden;
}

body {
  background: var(--color-background);
  block-size: 100%;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  inset-block-start: 0;
  inset-inline-start: 0;
  line-height: 2;
  margin: 0;
  overflow: auto;
  place-items: center start;
  position: absolute;
  transition:
    background var(--transition-settings-body),
    color var(--transition-settings-body);
}

hr {
  border: 0;
  border-block-end: 0.03125rem solid var(--color-ui);
  inline-size: 100svi;
  margin: 0;

  &:first-of-type {
    margin-block-end: 2rem;
  }

  &:last-of-type {
    margin-block-start: 2rem;
  }
}

.container {
  inline-size: calc(100svi - 4rem);
  max-inline-size: 80ch;
}

header,
footer {
  border-image-source: linear-gradient(to right, var(--gradient));
  border-image-width: 1rem 0;
  display: flex;
  flex-direction: column;
  inline-size: 100svi;
  place-items: center start;
}

a {
  background: var(--color-ui);
  color: var(--color-text);
  font-weight: 600;
  position: relative;
  transition:
    background var(--transition-settings-link),
    color var(--transition-settings-link),
    text-decoration-thickness var(--transition-settings-link),
    text-underline-offset var(--transition-settings-link);
  text-decoration-color: var(--color-ui);
  text-decoration-line: underline;
  text-decoration-thickness: max(2px, 0.25em / 3);
  text-underline-offset: 0.325em;

  &::selection {
    color: var(--color-text);
  }

  &:active {
    color: var(--color-text);
  }

  &:visited {
    color: var(--color-text);
  }

  &:focus,
  &:focus-visible {
    border-color: var(--color-ui);
    outline: 0;
  }

  &:hover,
  &:focus-visible,
  &:visited:hover,
  &:visited:focus-visible {
    background: var(--color-text);
    color: var(--color-ui);
    text-decoration-color: var(--color-text);
    text-decoration-thickness: max(3px, 0.375em / 3);
    text-underline-offset: 0.375em;
  }
}
