*::before,
*::after,
* {
  box-sizing: border-box;
}

::selection {
  background: var(--color-text-selection);
}

a::selection {
  color: var(--color-text);
}

:focus,
:focus-visible {
  outline: 0;
}

html {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.75;
  margin: 0;
  min-height: 100vh;
  border-image-source: linear-gradient(to right, var(--step-gradient));
  border-image-width: 1rem 0;
  border-image-slice: 1;
  transition:
    background var(--body-transition-settings),
    border-image-source var(--body-transition-settings),
    color var(--body-transition-settings);
}

hr {
  border: 0;
  border-top: 0.03125rem solid var(--color-ui);
  margin: 0;
  transition: border-top var(--body-transition-settings);

  &:first-of-type {
    border: 0;
  }
}

header,
main,
footer {
  max-width: 90ch;
  margin: 0 auto;
}

a {
  position: relative;
  font-weight: 600;
  color: var(--color-link);
  text-decoration: none;
  transition: color var(--link-transition-settings);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 0.0625rem;
    border-radius: 0.0625em;
    background: linear-gradient(to right, var(--step-gradient));
    width: 100%;
    margin-top: 1.5em;
    transition:
      height var(--link-transition-settings),
      margin-top var(--link-transition-settings);
  }

  &:active {
    color: var(--color-link-active);
  }

  &:visited {
    color: var(--color-link-visited);
  }

  &:hover,
  &:focus-visible,
  &:visited:hover,
  &:visited:focus-visible {
    color: var(--color-link-hover);

    &::after {
      height: 0.25rem;
      margin-top: 1.625em;
    }
  }
}
