*::before,
*::after,
* {
  box-sizing: border-box;
}

:root {
  font-size: calc(1rem + 0.5vw);
}

::selection {
  background: var(--color-ui);
}

html {
  font-family: system-ui, ui-sans-serif, "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: var(--color-background);
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--gradient));
  border-image-width: 1em 0;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin: 0;
  min-height: 100vh;
  place-items: center start;
  transition:
    background var(--transition-settings-body),
    border-image-source var(--transition-settings-body),
    color var(--transition-settings-body);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-ui);
  margin: 0;
  width: 100vw;

  &:first-of-type {
    margin-bottom: 2rem;
  }

  &:last-of-type {
    margin-top: 2rem;
  }
}

header,
main,
footer {
  max-width: 80ch;
  width: calc(100vw - 4rem);
}

.js {
  header,
  main,
  footer,
  hr {
    display: none;
  }
}

a {
  border: 1px solid transparent;
  color: var(--color-link);
  font-weight: 600;
  position: relative;
  transition:
    background var(--transition-settings-link),
    color var(--transition-settings-link);
  text-decoration: none;
  white-space: nowrap;

  &::after {
    background: linear-gradient(to right, var(--gradient));
    border-radius: 0.125rem;
    content: "";
    height: calc(0.25rem / 5);
    min-height: 2px;
    left: 0;
    margin-top: 1.25em;
    position: absolute;
    right: 0;
    top: 0;
    transition:
      height var(--transition-settings-link),
      margin-top var(--transition-settings-link);
  }

  &::selection {
    color: var(--color-text);
  }

  &:active {
    color: var(--color-link-active);
  }

  &:visited {
    color: var(--color-link-visited);
  }

  &:focus,
  &:focus-visible {
    border-color: var(--color-ui);
    outline: 0;
  }

  &:hover,
  &:focus-visible,
  &:visited:hover,
  &:visited:focus-visible {
    background: var(--color-ui);
    color: var(--color-link-hover);

    &::after {
      height: 0.25rem;
      margin-top: 1.375em;
    }
  }
}
