header {
  padding: 6rem 0 5rem;

  p {
    font-family: ui-serif, serif;
    font-style: oblique;
    margin: 0;
  }
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.03125em;
  line-height: 1;
  margin: 0;
}

label {
  border-radius: 50%;
  cursor: pointer;
  display: none;
  height: 2rem;
  opacity: 0.7;
  margin-top: 1rem;
  margin-right: 0.5rem;
  transition:
    background var(--transition-settings-body),
    opacity var(--transition-settings-body);
  width: 2rem;

  &[for="mode"] {
    background: var(--color-text);
  }

  &[for="palette"] {
    background-image: linear-gradient(to right, var(--color-palette-toggle));
  }

  &:hover {
    opacity: 0.9;
  }
}
