header {
  /* background-image: linear-gradient(135deg, var(--gradient)); */
  border-image-slice: 1 0 0 0;
  color: var(--color-header-text);
  padding-block: 5rem;

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: space-between;

    #content {
      h1 {
        font-size: 3rem;
        letter-spacing: -0.03125em;
        line-height: 1;
        margin: 0;
      }

      p {
        font-family: ui-serif, serif;
        font-style: oblique;
        margin: 0;
      }
    }

    #preferences {
      label {
        background: var(--color-toggle-background);
        border-radius: 50%;
        cursor: pointer;
        display: none;
        height: 1.825rem;
        line-height: 1;
        place-items: center center;
        transition: background var(--transition-settings-link);
        width: 1.825rem;

        &:hover {
          background: var(--color-toggle-background-hover);
        }
      }
    }
  }
}
