header {
  padding: 5rem 2.5rem;

  p {
    margin: 0;
    font-family: ui-serif, serif;
    font-style: oblique;
  }
}

h1 {
  margin: 0;
  font-size: 2.25rem;
  letter-spacing: -0.03125em;
  line-height: 1;
}
