.visually-hidden {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.js {
  header,
  main,
  footer,
  hr {
    display: none;
  }
}

#loader {
  background: var(--color-background);
  display: none;
  height: 100svh;
  left: 0;
  place-content: center center;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100svw;
  z-index: 100;

  &.fade-out {
    opacity: 0;
  }

  #indicator {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: 0.25rem;

    div {
      animation: fade 1.5s infinite alternate;
      opacity: 0;

      &.primary {
        background: var(--color-primary);
      }

      &.secondary {
        animation-delay: 0.25s;
        background: var(--color-secondary);
      }

      &.tertiary {
        animation-delay: 0.5s;
        background: var(--color-tertiary);
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
