main {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: auto auto;
  padding: 0 2.5rem;
}

article {
  padding: 2.5rem 0;

  p {
    margin: 2.5em auto;
  }
}

section {
  padding: 2.5rem 0 0;
  width: 30ch;

  &:last-of-type {
    padding-top: 0;
  }
}

h2 {
  align-items: center;
  display: grid;
  font-family: ui-serif, serif;
  font-size: 2rem;
  font-style: oblique;
  gap: 0.5em;
  grid-template-columns: 1fr auto 1fr;
  letter-spacing: -0.03125em;

  &::before,
  &::after {
    border-radius: 0.0625em;
    content: "";
    height: 0.25rem;
  }

  &::before {
    background-image: linear-gradient(to right, var(--gradient));
  }

  &::after {
    background-image: linear-gradient(to left, var(--gradient));
  }
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 2.5em auto;
}

dt {
  min-width: 10ch;
}

dt,
dd {
  border-bottom: 0.03125rem solid var(--color-ui);
  margin: 0;
  padding: 0.5em;
  transition: border-bottom var(--transition-settings-body);

  &:last-of-type {
    border-bottom: 0;
  }
}

time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.375;
  margin-top: 0.25rem;
}
