main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

article {
  flex-basis: 30ch;
  flex-grow: 100000;

  p {
    margin-block: 2rem;
  }
}

aside {
  display: flex;
  flex-basis: 30ch;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
}

h2 {
  align-items: center;
  display: grid;
  font-family: ui-serif, serif;
  font-size: 2rem;
  font-style: oblique;
  gap: 0.5em;
  grid-template-columns: 1fr auto 1fr;
  letter-spacing: -0.03125em;

  &::before,
  &::after {
    content: "";
    block-size: calc(0.25rem / 5);
    min-block-size: 2px;
  }

  &::before {
    background-image: linear-gradient(to right, var(--gradient));
  }

  &::after {
    background-image: linear-gradient(to left, var(--gradient));
  }
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-block: 2rem;
}

dt {
  min-inline-size: 10ch;
}

dt,
dd {
  border-block-end: 0.03125rem solid var(--color-ui);
  margin: 0;
  padding-block: calc(1rem - 0.5px);
  padding-inline: 0.5rem;
  transition: border-block-end var(--transition-settings-body);

  &:first-of-type {
    padding-block-start: 0;
  }

  &:last-of-type {
    border-block-end: 0;
    padding-block-end: 0;
  }
}

time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.125;
  margin-block-start: calc(0.75rem - 0.5px);
}
