@media screen and (width <= 1280px) {
  :root {
    --font-size-base: 20px;
  }
}

@media screen and (width <= 1024px) {
  :root {
    --font-size-base: 18px;
  }
}

@media screen and (width <= 980px) {
  :root {
    --font-size-base: 16px;
  }
}

@media screen and (width <= 768px) {
  :root {
    --font-size-base: 14px;
  }
}
