@media screen and (width <= 980px) {
  header,
  main,
  footer {
    max-width: 60ch;
  }

  main {
    display: block;
  }

  article {
    padding-bottom: 0;
  }

  section {
    padding: 2.5rem 0;
    width: unset;
  }
}
