[data-mode="dark"] {
  --color-background: hsl(var(--hue-secondary) 10% 5%);
  --color-mode-toggle: hsl(var(--hue-secondary) 10% 90% / 25%);
  --color-text: hsl(var(--hue-secondary) 10% 90%);
  --color-ui: hsl(var(--hue-secondary) 10% 90% / 15%);
  --shade: var(--shade-medium);
}

[data-mode="light"] {
  --color-background: hsl(var(--hue-secondary) 10% 90%);
  --color-mode-toggle: hsl(var(--hue-secondary) 10% 25% / 25%);
  --color-text: hsl(var(--hue-secondary) 10% 25%);
  --color-ui: hsl(var(--hue-secondary) 10% 25% / 15%);
  --shade: var(--shade-dark);
}

[data-palette="default"] {
  --color-palette-toggle: hsl(var(--hue-primary-autumn) var(--shade)) 0% 33%,
    hsl(var(--hue-secondary-autumn) var(--shade)) 33% 66%,
    hsl(var(--hue-tertiary-autumn) var(--shade)) 66% 100%;
  --hue-primary: var(--hue-primary-default);
  --hue-secondary: var(--hue-secondary-default);
  --hue-tertiary: var(--hue-tertiary-default);
}

[data-palette="autumn"] {
  --color-palette-toggle: hsl(var(--hue-primary-default) var(--shade)) 0% 33%,
    hsl(var(--hue-secondary-default) var(--shade)) 33% 66%,
    hsl(var(--hue-tertiary-default) var(--shade)) 66% 100%;
  --hue-primary: var(--hue-primary-autumn);
  --hue-secondary: var(--hue-secondary-autumn);
  --hue-tertiary: var(--hue-tertiary-autumn);
}
