.menu-wrapper {
  position: relative;
}

#menu-toggle {
  appearance: none;
  cursor: pointer;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  color: var(--color-text);
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5em 1em;
}

#menu {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  margin-top: 0.25em;
  padding: 0.5em 1em;
  min-width: 20ch;
  border: 1px solid var(--color-link-hover);
  border-radius: 0.25rem;
  background: var(--color-background);
  color: var(--color-text);
  box-shadow: 0 0 1rem var(--color-background);
}

#menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu label {
  font-size: 0.75rem;
  white-space: nowrap;
}

#menu input[type='checkbox'] {
  appearance: none;
  display: grid;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.75rem;
  line-height: 1em;
  background: var(--color-background);
  border: 1px solid var(--color-link-visited);
  border-radius: 0.25rem;
  color: var(--color-link);
  align-items: center;
  justify-content: center;
}

#menu input[type='checkbox']:focus-visible {
  box-shadow: 0 0 0.25rem var(--color-link-hover);
}

#menu input[type='checkbox']::after {
  grid-area: 1 / 1;
  content: '\2716';
  color: transparent;
  pointer-events: none;
}

#menu input[type='checkbox']:checked::after {
  content: '\2716';
  color: unset;
}

#menu-toggle:hover,
#menu-toggle:focus-visible {
  background: var(--color-link-hover);
  border-color: var(--color-link-visited);
  color: var(--color-background);
}

#menu-toggle[aria-expanded='true'] {
  border-color: var(--color-link-active);
  background: var(--color-link-visited);
  color: var(--color-background);
}

#menu-toggle[aria-expanded='true'] + #menu {
  display: block;
}
