[data-theme="dark"] {
  --color-background: hsl(var(--hue-green) 10% 5%);
  --color-text: hsl(var(--hue-green) 10% 90%);
  --color-toggle: hsl(var(--hue-green) 10% 90% / 50%);
  --color-ui: hsl(var(--hue-green) 30% 20%);
  --shade: var(--shade-medium);
}

[data-theme="light"] {
  --color-background: hsl(var(--hue-green) 10% 90%);
  --color-text: hsl(var(--hue-green) 10% 25%);
  --color-toggle: hsl(var(--hue-green) 10% 25% / 50%);
  --color-ui: hsl(var(--hue-green) var(--shade-medium));
  --shade: var(--shade-dark);
}
