:root {
  --canvas-light: 5% 90%;
  --canvas-dark: 5% 10%;
  --hue-primary-rgb: 330;
  --hue-secondary-rgb: 130;
  --hue-tertiary-rgb: 230;
  --hue-primary-cmy: 190;
  --hue-secondary-cmy: 290;
  --hue-tertiary-cmy: 50;
  --hue-primary-autumn: 60;
  --hue-secondary-autumn: 30;
  --hue-tertiary-autumn: 0;
  --hue-primary-spring: 60;
  --hue-secondary-spring: 90;
  --hue-tertiary-spring: 120;
  --shade-light: 35% 65%;
  --shade-medium: 35% 55%;
  --shade-dark: 35% 45%;
  --gradient: hsl(var(--hue-primary) var(--shade)) var(--gradient-step-first),
    hsl(var(--hue-secondary) var(--shade)) var(--gradient-step-second),
    hsl(var(--hue-tertiary) var(--shade)) var(--gradient-step-third);
  --gradient-step-first: 0% 33%;
  --gradient-step-second: 33% 66%;
  --gradient-step-third: 66% 100%;
  --transition-settings-body: 0.25s ease-in-out;
  --transition-settings-link: 0.0625s ease-in-out;
}
