:root {
  /**
   * Typography
   */
  --font-size-base: 24px;
  --font-family-body: system-ui, ui-sans-serif, "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /**
   * Settings
   */
  --body-transition-settings: 0.25s ease-in-out;
  --link-transition-settings: 0.0625s ease-in-out;

  /**
   * Hues
   */
  --hue-primary: 230;
  --hue-secondary: 130;
  --hue-tertiary: 330;

  /**
   * Shades
   */
  --shade-light: 30% 70%;
  --shade-medium: 30% 60%;
  --shade-dark: 30% 50%;

  /**
   * Colors
   */
  --color-link: hsl(var(--hue-primary) var(--shade));
  --color-link-active: hsl(var(--hue-secondary) var(--shade));
  --color-link-hover: hsl(var(--hue-secondary) var(--shade));
  --color-link-visited: hsl(var(--hue-tertiary) var(--shade));
  --color-text-selection: var(--color-ui);

  /**
   * Gradients
   **/
  --step-gradient: hsl(var(--hue-primary) var(--shade)) 0% 33%,
    hsl(var(--hue-secondary) var(--shade)) 33% 66%,
    hsl(var(--hue-tertiary) var(--shade)) 66% 100%;
}
