:root {
  --color-link: hsl(var(--hue-primary) var(--shade));
  --color-link-active: hsl(var(--hue-secondary) var(--shade));
  --color-link-hover: hsl(var(--hue-secondary) var(--shade));
  --color-link-visited: hsl(var(--hue-tertiary) var(--shade));
  --color-text-selection: var(--color-ui);
  --font-family-body: system-ui, ui-sans-serif, "Helvetica Neue", "Helvetica",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size-base: 24px;
  --hue-primary-autumn: 50;
  --hue-primary-default: 230;
  --hue-secondary-autumn: 20;
  --hue-secondary-default: 130;
  --hue-tertiary-autumn: 350;
  --hue-tertiary-default: 330;
  --shade-light: 30% 70%;
  --shade-medium: 30% 60%;
  --shade-dark: 30% 50%;
  --gradient: hsl(var(--hue-primary) var(--shade)) 0% 33%,
    hsl(var(--hue-secondary) var(--shade)) 33% 66%,
    hsl(var(--hue-tertiary) var(--shade)) 66% 100%;
  --transition-settings-body: 0.25s ease-in-out;
  --transition-settings-link: 0.0625s ease-in-out;
}
