on:
  workflow_call:
    inputs:
      file-extension:
        required: true
        type: string

jobs:
  lint:
    name: Run Workflow
    runs-on: ubuntu-latest
    steps:
      - name: Check out branch
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.18.1
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run lint script
        run: npm run lint:${{ inputs.file-extension }}
